.conteiner{
    width: 100vw;
    height: 100vh-20px;
    margin-top: 20px;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background-color: crimson;
    width: 80vw;
    height: 10vh;
    margin: auto;
   margin-bottom: 10px;
}
.firstmain{
    background-color: orange;
    width: 80vW;
    height: 30vh;
    margin: auto;
    margin-bottom: 10px;
}
.secondmain{
    background-color: rgb(178, 178, 230);
    width: 80vW;
    height: 45vh;
    margin: auto;
    margin-bottom: 10px;
}

.middle{
    margin-top: 83px;
    border: 6px solid black;
    float: left;
    width: 50%;
    height: 80%;
}
.side{
    margin-top: 83px;
    float: left;
    width: 25%;
    height: 80%;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
}
.footer{
    background-color: blueviolet;
    width: 80vW;
    height: 5vh;
    margin: auto;
    margin-bottom: 10px; 
}
.clearfix{
     content: "";
     clear: both;
     display: table;
}